<div class="flex flex-col items-center w-full">

  <div class="flex justify-center">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  
  <h1 class="font-bold text-center mb-4 text-3xl text-blue-500">Edit Account</h1>

  <div data-controller="validate-password-match" class="bg-white dark:bg-slate-800 text-slate-600 dark:text-slate-300 border border-zinc-800 border-opacity-10 p-8 drop-shadow-xl rounded-lg w-96">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


      <!-- Avatar Upload Field -->
      <div class="relative mb-4 flex flex-col items-center" data-controller="image-preview">
        <%= f.label :avatar, "Upload profile photo", class: 'rounded-full inline-block cursor-pointer default-transition group relative' do %>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-24 h-24 text-gray-100 default-transition opacity-0 group-hover:opacity-100 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50">
            <path d="M18 3H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3zM6 5h12a1 1 0 0 1 1 1v8.36l-3.2-2.73a2.77 2.77 0 0 0-3.52 0L5 17.7V6a1 1 0 0 1 1-1z"/>
            <circle cx="8" cy="8.5" r="1.5"/>
          </svg>

          <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar, width: '100px', height: '100px', data: { target: 'image-preview.output' }, class: 'group-hover:brightness-50 default-transition ml-auto mr-auto align-middle h-40 w-40 object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg') %>
          <% else %>
            <%= image_tag('default-avatar.png', width: '100px', height: '100px', data: { target: 'image-preview.output' }, class: 'group-hover:brightness-50 default-transition ml-auto mr-auto align-middle h-40 w-40 object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg') %>
          <% end %>

        <% end %>
        <%= f.file_field :avatar, accept: 'image/jpeg, image/png', class: 'hidden', data: { target: 'image-preview.input', action: 'image-preview#readURL' } %>
      </div>
      <!-- Avatar Upload Field End -->


      <div class="relative mb-4">
        <%= f.text_field :name, placeholder: ' ', class: 'peer block px-2.5 pb-2.5 pt-4 w-full text-sm bg-transparent default-transition rounded-md appearance-none border border-gray-300 dark:border-gray-600 focus:ring-1 focus:ring-blue-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 valid:[&:not(:placeholder-shown):not(:focus)]:border-green-500' %>
        <%= f.label :name, 'Username', class: 'absolute text-sm text-gray-500 dark:text-gray-400 default-transition transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1' %>
        <p class="hidden peer-focus:hidden peer-invalid:block text-red-500 text-xs mt-1">Username is invalid.</p>
      </div>

      <div class="relative mb-4">
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email address', pattern: '^[a-z0-9._\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$', class: 'peer block px-2.5 pb-2.5 pt-4 w-full text-sm bg-transparent default-transition rounded-md appearance-none border border-gray-300 dark:border-gray-600 focus:ring-1 focus:ring-blue-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 valid:[&:not(:placeholder-shown):not(:focus)]:border-green-500' %>
        <%= f.label :email, 'Email address', class: 'absolute text-sm text-gray-500 dark:text-gray-400 default-transition transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1' %>
        <p class="hidden peer-focus:hidden peer-invalid:block text-red-500 text-xs mt-1">Please type a valid email address.</p>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <i class="block text-sm text-gray-500 dark:text-gray-400 mb-2 mt-6">(leave blank if you don't want to change it)</i>
      <div class="relative mb-4">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: ' ', data: { action: 'input->validate-password-match#validateMatch', validate_password_match_target: 'passwordField' }, pattern: ".{6,}", class: 'peer block px-2.5 pb-2.5 pt-4 w-full text-sm bg-transparent default-transition rounded-md appearance-none border border-gray-300 dark:border-gray-600 focus:ring-1 focus:ring-blue-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 valid:[&:not(:placeholder-shown):not(:focus)]:border-green-500' %>
        <%= f.label :password, 'New password', class: 'absolute text-sm text-gray-500 dark:text-gray-400 default-transition transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1' %>
        <p class="hidden peer-focus:hidden peer-invalid:block text-red-500 text-xs mt-1">Password must be at least 6 characters.</p>
      </div>

      <div class="relative mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: ' ', data: { action: 'blur->validate-password-match#validateMatch focus->validate-password-match#hideErrorMessage focus->validate-password-match#resetStyles', validate_password_match_target: 'confirmationField' }, class: 'peer block px-2.5 pb-2.5 pt-4 w-full text-sm bg-transparent default-transition rounded-md appearance-none border border-gray-300 dark:border-gray-600 focus:ring-1 focus:ring-blue-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 valid:[&:not(:placeholder-shown):not(:focus)]:border-green-500' %>
        <%= f.label :password_confirmation, 'Confirm password', class: 'absolute text-sm text-gray-500 dark:text-gray-400 default-transition transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1' %>
        <p class="hidden peer-focus:hidden text-red-500 text-xs mt-1" data-validate-password-match-target="errorMessage">Password does not match.</p>
      </div>

        <i class="block text-sm text-gray-500 dark:text-gray-400 mb-2 mt-6">(enter current password to confirm changes)</i>
      <div class="relative mb-4">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: ' ', pattern: ".{6,}", class: 'peer block px-2.5 pb-2.5 pt-4 w-full text-sm bg-transparent default-transition rounded-md appearance-none border border-gray-300 dark:border-gray-600 focus:ring-1 focus:ring-blue-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 valid:[&:not(:placeholder-shown):not(:focus)]:border-green-500' %>
        <%= f.label :current_password, 'Current password', class: 'absolute text-sm text-gray-500 dark:text-gray-400 default-transition transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1' %>
        <p class="hidden peer-focus:hidden peer-invalid:block text-red-500 text-xs mt-1">Password must be at least 6 characters.</p>
      </div>

      <div class="actions mb-2">
        <%= f.submit "Update", class: 'btn-primary bg-blue-600 hover:bg-blue-500 focus:bg-blue-500 text-gray-50 font-medium rounded-md w-full px-2.5 py-2.5 focus:ring-blue-500 focus:ring-2 outline-none border-2 border-transparent focus:border-white' %>
      </div>
    <% end %>

    <div class="flex items-center flex-col gap-1 w-full mb-6">
      <div class="text-center text-sm border border-zinc-800 border-opacity-15 translate-y-4 bg-white dark:bg-slate-700 dark:bg-opacity-75 text-gray-600 dark:text-gray-400 rounded px-1.5">OR</div>
      <div class="border-b border-zinc-800 dark:border-slate-700 border-opacity-15 dark:border-opacity-75 w-full"></div>
    </div>

    <p class="text-sm w-full text-center text-gray-600 dark:text-gray-400 mb-4">Unhappy?</p>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'block btn-red text-center px-2.5 py-2.5 w-full rounded-md font-medium focus:ring-[#fad2e1] focus:ring-2 outline-none border-2 border-transparent focus:border-white dark:focus:border-slate-800' %>
  </div>

</div>
