<%- if controller_name != 'sessions' %>
  <div class="flex items-center flex-col gap-1 w-full mb-6 -mt-4">
    <div class="text-center text-sm border border-zinc-800 border-opacity-15 translate-y-4 bg-white dark:bg-slate-700 dark:bg-opacity-75 text-gray-600 dark:text-gray-400 rounded px-1.5">OR</div>
    <div class="border-b border-zinc-800 dark:border-slate-700 border-opacity-15 dark:border-opacity-75 w-full"></div>
  </div>

  <p class="text-xs w-full text-center text-gray-600 dark:text-gray-400 mb-4">Already have an account?</p>
  <%= link_to "Log In", new_session_path(resource_name), class: 'block btn-green text-center px-2.5 py-2.5 rounded-md font-medium focus:ring-[#236c5b] focus:ring-2 outline-none border-2 border-transparent focus:border-white' %>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="flex items-center justify-center">
    <%= link_to "Forgot password?", new_password_path(resource_name), class: 'default-transition block text-xs text-center text-gray-600 dark:text-gray-400 -mb-2 -mt-2 border-2 border-transparent focus:border-blue-500 focus:ring-0 outline-none rounded w-fit px-2 py-1' %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="flex items-center flex-col gap-1 w-full mb-6">
    <div class="text-center text-sm border border-zinc-800 border-opacity-15 translate-y-4 bg-white dark:bg-slate-700 dark:bg-opacity-75 text-gray-600 dark:text-gray-400 rounded px-1.5">OR</div>
    <div class="border-b border-zinc-800 dark:border-slate-700 border-opacity-15 dark:border-opacity-75 w-full"></div>
  </div>

  <p class="text-xs w-full text-center text-gray-600 dark:text-gray-400 mb-4">Don't have an account yet?</p>
  <%= link_to "Create New Account", new_registration_path(resource_name), class: 'block btn-green text-center px-2.5 py-2.5 rounded-md font-medium focus:ring-[#98f5e1] dark:focus:ring-green-900 focus:ring-2 outline-none border-2 border-transparent focus:border-white dark:focus:border-slate-800' %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
