<div class="profile-card">
  <div class="info">
    <h1 class="my-3"><%= user.name %></h1>
    <p class="my-3"><%= user.email %></p>

    <%= render 'shared/stats' %>
    <div class="my-3">
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= button_to 'Unfollow', unfollow_user_path(user), class: 'btn-red' %>
        <% else %>
          <% @request = user.follow_requests.find_by(follower_id: current_user.id) %>
          <% if @request.nil? %>
            <%= button_to 'Follow', follow_user_path(user), class: 'btn-green' %>
          <% elsif @request.pending? %>
            <%= button_to 'Cancel Request', cancel_request_path(@request), method: :delete, class: 'btn-red' %>
          <% elsif @request.declined? %>
            <p>Sorry, <%= user.name %> declined your follow request.</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="profile-image">
    <% if user.avatar.attached? %>
      <%= image_tag(user.avatar, class: 'align-middle h-40 w-40 object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg') %>
    <% else %>
      <%= image_tag('default-avatar.png', class: 'align-middle h-40 w-40 object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg') %>
    <% end %>
  </div>
</div>
