<div class="profile-card">
  <div class="info">
    <h1 class="my-3"><%= link_to user.name, user %></h1>
    <p class="my-3"><%= user.email %></p>

    <div class="my-3">
      <% unless user == current_user %>

        <% if current_user.following?(user) %>
          <h5><%= button_to 'Unfollow', unfollow_user_path(user), class: 'btn-red' %></h5>
        <% else %>
          <% @request = user.follow_requests.find_by(follower_id: current_user.id) %>
          <% if @request.nil? %>
            <h5><%= button_to 'Follow', follow_user_path(user), class: 'btn-blue' %></h5>
          <% elsif @request.pending? %>
            <h5><%= button_to 'Cancel Request', cancel_request_path(@request), class: 'btn-red', method: :delete %></h5>
          <% elsif @request.declined? %>
            <h5>Sorry, <%= user.name %> declined your follow request.</h5>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="profile-image shrink-0">
    <% if user.avatar.attached? %>
      <%= link_to image_tag(user.avatar, class: 'align-middle h-40 w-40 object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg'), user %>
    <% else %>
      <%= link_to image_tag('default-avatar.png', class: 'align-middle h-40 w-40 object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg'), user %>
    <% end %>
  </div>
</div>
