<div class="profile-card flex-col w-max justify-center mx-auto">
  <div class="mx-auto">
    <%= render 'shared/avatar_lg', user: user %>
  </div>

  <div class="info flex flex-col items-center justify-center gap-4">
    <h1 class=""><%= user.name %></h1>
    <p class="text-gray-600 dark:text-gray-400"><%= user.email %></p>

    <div class="flex items-center justify-center gap-5">
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= button_to 'Unfollow', unfollow_user_path(user), class: 'btn-red' %>
        <% else %>
          <% @request = user.follow_requests.find_by(follower_id: current_user.id) %>
          <% if @request.nil? %>
            <%= button_to 'Follow', follow_user_path(user), class: 'btn-green' %>
          <% elsif @request.pending? %>
            <%= button_to 'Cancel Request', cancel_request_path(@request), method: :delete, class: 'btn-red' %>
          <% elsif @request.declined? %>
            <p>Sorry, <%= user.name %> declined your follow request.</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/stats' %>
