<h1><%= @user.name %></h1>

<p><%= link_to 'View my profile', @user %></p>
<span><strong>Posts:</strong> <%= @user.posts.count %></span>

<%= render 'shared/stats' %>

<h3><%= @title %></h3>

<% if @users.any? %>
  <ul class="users">
    <%= render @users %>
  </ul>
<% end %>
