<%= render @user %>

<% if @user == current_user && current_user.follow_requests.any?(&:pending?) %>
  <h2 class="ml-5 mt-8 mb-4 font-medium">Follow Requests</h2>
  <ul class="mb-5 grid grid-cols-2 gap-2">
    <%= render current_user.follow_requests %>
  </ul>
<% end %>

<% if @user == current_user %>
  <div class="w-full items-center mt-8 mb-5 rounded-lg">
    <h2 class="ml-5 mb-4 font-medium">What's on your mind?</h2>
    <%= render 'posts/form', post: @post = Post.new %>
  </div>
<% end %>

<h2 class="ml-5 mt-8 mb-4 font-medium">Posts</h2>

<div id="posts">
  <% @user.posts.each do |post| %>
    <%= render 'posts/post_link', post: post %>
  <% end %>
</div>

<% if @posts.blank? %>
  <p class="text-sm text-gray-500 mb-4 text-center"><%= @user.name.split(' ').first %> doesn't have any posts yet!</p>
<% else %>
  <div id="posts">
    <% @user.posts.each do |post| %>
      <%= render 'posts/post_link', post: post %>
    <% end %>
  </div>
<% end%>
