<%= render @user %>

<h2 class="ml-5 mt-8 mb-4 font-medium">
  <%= @title  == 'Following' ? "#{@user.followees.count} Following" : "#{@user.followers.count} Followers" %>
</h2>

<% if @users.any? %>
    <div class="all-users">
      <% @users.each do |user| %>
        <%= render 'user_link', user: user %>
      <% end %>
    </div>
<% else %>
  <% if @title == 'Following' %>
    <p class="text-sm text-gray-500 mb-4 text-center"><%= @user.name.split(' ').first %> isn't following anyone yet.</p>
  <% else %>
    <p class="text-sm text-gray-500 mb-4 text-center"><%= @user.name.split(' ').first %> doesn't have any followers yet.</p>
  <% end %>
<% end %>
