<div class="relative inline-block text-left">
  <div class="group">
    <button type="button" class="inline-flex justify-center items-center w-full px-4 py-2.5 text-sm font-medium text-gray-700 dark:text-slate-300 bg-white dark:bg-slate-800 default-transition hover:bg-gray-200 dark:hover:bg-slate-800 focus:bg-gray-200 dark:focus:bg-slate-800 focus:outline-none border border-zinc-800 border-opacity-10 rounded-md shadow hover:cursor-default">
      Options
      <!-- Dropdown arrow -->
      <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
      </svg>
      <!-- Dropdown arrow end -->
    </button>

  <!-- Dropdown menu -->
    <div class="absolute right-0 mt-2 origin-top-left bg-white dark:bg-slate-800 rounded-xl shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible group-focus-within:opacity-100 group-focus-within:visible default-transition">
      <div class="p-2">

        <!-- Link to profile -->
        <div class="mb-2 pl-2 pr-3 py-2 text-gray-700 dark:text-slate-300 default-transition hover:bg-gray-200 dark:hover:bg-slate-700 focus:bg-gray-200 dark:focus:bg-slate-700 focus:outline-none rounded-md">
          <%= link_to user_path(current_user), class: 'focus:bg-gray-200 focus:outline-none flex items-center w-max active:bg-transparent dark:active:bg-transparent' do %>

            <% if current_user.avatar.attached? %>
              <%= image_tag(current_user.avatar, class: 'h-12 w-12 mr-3 align-middle object-cover rounded-full border-2 border-blue-500 dark:border-blue-500 shadow-md') %>
            <% else %>
              <%= image_tag('default-avatar.png', class: 'h-12 w-12 mr-3 align-middle object-cover rounded-full border-2 border-blue-500 dark:border-blue-500 shadow-md') %>
            <% end %>

            <div>
              <span class="block text-sm font-semibold"><%= current_user.name %></span>
              <span class="block text-sm"><%= current_user.email %></span>
            </div>
          <% end %>
        </div>
        <!-- Link to profile end -->

        <!-- Menu item divider -->
        <div class="my-2">
          <div class="border-b border-opacity-10 dark:border-opacity-10 border-slate-900 dark:border-slate-50 mx-1"></div>
        </div>
        <!-- Menu item divider end -->

        <%= render 'shared/dark_mode_toggle' %>

        <%= link_to edit_user_registration_path, class: 'flex items-center gap-2 p-2.5 text-sm text-gray-700 dark:text-slate-300 default-transition hover:bg-gray-200 dark:hover:bg-slate-700 focus:bg-gray-200 dark:focus:bg-slate-700 focus:outline-none rounded' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 align-middle" fill="currentColor">
            <path d="M12 11a4 4 0 1 0-4-4 4 4 0 0 0 4 4z"/><path d="M18 21a1 1 0 0 0 1-1 7 7 0 0 0-14 0 1 1 0 0 0 1 1z"/>
          </svg>
          Edit account
        <% end %>

        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'flex items-center gap-2 p-2.5 text-sm text-gray-700 dark:text-slate-300 default-transition hover:bg-gray-200 dark:hover:bg-slate-700 focus:bg-gray-200 dark:focus:bg-slate-700 focus:outline-none rounded' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 align-middle" fill="currentColor">
            <path d="M7 6a1 1 0 0 0 0-2H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h2a1 1 0 0 0 0-2H6V6z"/>
            <path d="M20.82 11.42l-2.82-4a1 1 0 0 0-1.39-.24 1 1 0 0 0-.24 1.4L18.09 11H10a1 1 0 0 0 0 2h8l-1.8 2.4a1 1 0 0 0 .2 1.4 1 1 0 0 0 .6.2 1 1 0 0 0 .8-.4l3-4a1 1 0 0 0 .02-1.18z"/>
          </svg>
          Sign out
        <% end %>
      </div>
    </div>
  <!-- Dropdown menu end -->
  </div>
</div>
