<% if user_signed_in? %>
  <h1>FakeBook</h1> <!-- Replace with logo -->
  <nav class="nav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'All Users', users_path %>
    <%= link_to 'Profile', user_path(current_user) %>
    <%= link_to 'Edit account', edit_user_registration_path %>
    <%= link_to 'Sign Out', sign_out_path, method: :delete, class: 'sign-out' %>
    <% if user_signed_in? %>
      <%= link_to new_post_path, id: 'new_post_btn' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        <span>New Post</span>
      <% end %>
    <% end %>
  </nav>
<% end %>
