<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, autofocus: true %>
    <% @post.errors.full_messages_for(:body).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>
