<div data-controller="post">
  <%= form_with model: @post do |f| %>
    <div class="flex items-center justify-center w-full mb-6 default-transition focus-within:scale-105">
      <%= f.label :body, 'New post', class: 'sr-only' %>
      <%= f.text_area :body, rows: '5', data: { controller: 'autogrow', action: "input->autogrow#grow input->post#change", post_target: 'field' }, placeholder: 'Say something...', class: 'default-transition block p-4 w-[95%] bg-white dark:bg-slate-800 rounded-lg border border-zinc-800 border-opacity-10 focus:ring-0 focus:ring-blue-500 shadow-sm focus:shadow-lg resize-none' %>
    </div>

    <div class="text-right mr-5 mb-6 text-blue-600 dark:text-blue-500 font-mono">Character count: <span data-post-target="output">0</span></div>

    <div class="flex gap-5 w-full justify-end">
      <% if params[:controller] == 'posts' && params[:action] == 'edit' %>
        <%= link_to :back, class: 'btn-gray font-medium text-lg pl-3 py-2 mr-5 hover:shadow-lg flex items-center gap-2' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 align-middle" fill="currentColor">
            <rect width="24" height="24" transform="rotate(90 12 12)" opacity="0"/>
            <path d="M19 11H7.14l3.63-4.36a1 1 0 1 0-1.54-1.28l-5 6a1.19 1.19 0 0 0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4 12a1 1 0 0 0 .07.36c0 .05 0 .08.07.13a1.19 1.19 0 0 0 .09.15l5 6A1 1 0 0 0 10 19a1 1 0 0 0 .64-.23 1 1 0 0 0 .13-1.41L7.14 13H19a1 1 0 0 0 0-2z"/>
          </svg>
          Go back
        <% end %>
        <%= button_tag(class: 'btn-blue font-medium text-lg pl-3 py-2 mr-5 hover:shadow-lg flex items-center gap-2') do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 align-middle" fill="currentColor">
            <rect width="24" height="24" opacity="0"/>
            <path d="M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1 1 0 1 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.73.33z"/>
          </svg>
          Update
        <% end %>
      <% else %>
        <%= button_tag(class: 'btn-blue font-medium text-lg pl-3 py-2 mr-5 hover:shadow-lg flex items-center gap-2') do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 align-middle" fill="currentColor">
            <rect width="24" height="24" opacity="0"/>
            <path d="M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1 1 0 1 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.73.33z"/>
          </svg>
          Post
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
