<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :body, 'Post', class: 'sr-only' %>
    <%= f.text_area :body, size: '40x7', autofocus: true %>
    <% @post.errors.full_messages_for(:body).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
