<div class="post-frame">
  <div class="flex items-start">
    <div class="profile-image thumb">
      <% if post.user.avatar.attached? %>
        <%= link_to image_tag(post.user.avatar, class: 'h-16 w-16 mr-3 align-middle object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg'), post.user %>
      <% else %>
        <%= link_to image_tag('default-avatar.png', class: 'h-16 w-16 mr-3 align-middle object-cover rounded-full border-2 border-slate-100 dark:border-slate-900 shadow-lg'), post.user %>
      <% end %>
    </div>
    <div class="post-info">
      <div class="mt-2 flex gap-3 text-xl leading-tight">
        <%= link_to post.user.name, post.user %>
      </div>
      <div class="posted-time">
        <% if post.been_edited? %>
          <% if post.created_today? %>
            <span class="text-sky-500 text-sm relative border-b border-dashed border-black cursor-default before:z-10 before:content-[attr(data-text)] before:absolute before:top-[100%] before:mt-[1.15rem] before:left-[50%] before:-translate-x-2/4 before:w-max before:py-1.5 before:px-2.5 before:rounded-md before:bg-black before:text-white before:text-center before:text-sm before:invisible before:opacity-0 before:duration-200 before:transition-opacity before:ease-linear hover:before:z-10 hover:before:visible hover:before:opacity-100 after:z-10 after:absolute after:top-full after:mt-[0.26rem] after:left-[50%] after:-translate-x-1/2 after:border-8 after:border-t-transparent after:border-r-transparent after:border-l-transparent after:border-b-black after:invisible after:opacity-0 after:duration-200 after:transition-opacity after:ease-linear hover:after:z-10 hover:after:visible hover:after:opacity-100" data-text='edited: <%= formatted_time(post.updated_at) %>'>
              <%= formatted_time(post.created_at) %>
            </span>
          <% else %>
            <% if post.updated_today? %>
              <span class="text-sky-500 text-sm relative border-b border-dashed border-black cursor-default before:z-10 before:content-[attr(data-text)] before:absolute before:top-[100%] before:mt-[1.15rem] before:left-[50%] before:-translate-x-2/4 before:w-max before:py-1.5 before:px-2.5 before:rounded-md before:bg-black before:text-white before:text-center before:text-sm before:invisible before:opacity-0 before:duration-200 before:transition-opacity before:ease-linear hover:before:z-10 hover:before:visible hover:before:opacity-100 after:z-10 after:absolute after:top-full after:mt-[0.26rem] after:left-[50%] after:-translate-x-1/2 after:border-8 after:border-t-transparent after:border-r-transparent after:border-l-transparent after:border-b-black after:invisible after:opacity-0 after:duration-200 after:transition-opacity after:ease-linear hover:after:z-10 hover:after:visible hover:after:opacity-100" data-text='edited: today at <%= formatted_time(post.updated_at) %>'>
                <%= formatted_datetime(post.created_at) %>
              </span>
            <% else %>
              <span class="text-sky-500 text-sm relative border-b border-dashed border-black cursor-default before:z-10 before:content-[attr(data-text)] before:absolute before:top-[100%] before:mt-[1.15rem] before:left-[50%] before:-translate-x-2/4 before:w-max before:py-1.5 before:px-2.5 before:rounded-md before:bg-black before:text-white before:text-center before:text-sm before:invisible before:opacity-0 before:duration-200 before:transition-opacity before:ease-linear hover:before:z-10 hover:before:visible hover:before:opacity-100 after:z-10 after:absolute after:top-full after:mt-[0.26rem] after:left-[50%] after:-translate-x-1/2 after:border-8 after:border-t-transparent after:border-r-transparent after:border-l-transparent after:border-b-black after:invisible after:opacity-0 after:duration-200 after:transition-opacity after:ease-linear hover:after:z-10 hover:after:visible hover:after:opacity-100" data-text='edited: <%= formatted_datetime(post.updated_at) %>'>
                <%= formatted_datetime(post.created_at) %>
              </span>
            <% end %>
          <% end %>
        <% else %>
          <span class="text-sky-500 text-sm">
            <% if post.created_today? %>
              <%= formatted_time(post.created_at) %>
            <% else %>
              <%= formatted_datetime(post.created_at) %>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to post do %>
    <div class="my-5 mx-4">
      <%= post.body %>
    </div>
  <% end %>
  <div>
    <%= render partial: 'likes/button', locals: { likeable: post } %>
  </div>
</div>
