<div class="post">
  <%# <div class="frame"> %>
    <div class="post-header">
      <div class="profile-image thumb">
        <% if post.user.avatar.attached? %>
          <%= link_to image_tag(post.user.avatar, class: 'avatar'), post.user %>
        <% else %>
          <%= link_to image_tag('default-avatar.png', class: 'avatar'), post.user %>
        <% end %>
      </div>
      <div class="post-info">
        <div class="username">
          <%= link_to post.user.name, post.user, class: 'username' %>
        </div>




        <div class="posted-time">
          <% if post.been_edited? %>
            <% if post.created_today? %>
              <span class="timestamp tooltip" data-text='edited: <%= formatted_time(post.updated_at) %>'>
                <%= formatted_time(post.created_at) %>
              </span>
            <% else %>
              <% if post.updated_today? %>
                <span class="timestamp tooltip" data-text='edited: today at <%= formatted_time(post.updated_at) %>'>
                  <%= formatted_datetime(post.created_at) %>
                </span>
              <% else %>
                <span class="timestamp tooltip" data-text='edited: <%= formatted_datetime(post.updated_at) %>'>
                  <%= formatted_datetime(post.created_at) %>
                </span>
              <% end %>
            <% end %>
          <% else %>
            <span class="timestamp">
              <% if post.created_today? %>
                <%= formatted_time(post.created_at) %>
              <% else %>
                <%= formatted_datetime(post.created_at) %>
              <% end %>
            </span>
          <% end %>
        </div>




      </div>
    </div>
    <%= link_to post, class: 'post-link' do %>
      <div class="body">
        <%= post.body %>
      </div>
    <% end %>
    <div class="like-btn">
      <%= render partial: 'likes/button', locals: { likeable: post } %>
    </div>
  <%# </div> %>
</div>
