<div class="w-full items-center mb-5 rounded-lg">
  <h2 class="ml-5 mb-4 font-medium">Hey, <%= current_user.name.split(' ').first %>! What's on your mind?</h2>
  <%= render 'posts/form', post: @post = Post.new %>
</div>

<% if @posts.blank? %>
  <p class="text-sm text-gray-600 dark:text-gray-500 mb-4 text-center mt-20">Nothing to see here!</p>
  <div class="flex items-center justify-center gap-8">
    <%= link_to 'Connect with new people', users_path, class: 'btn-gray dark:hover:bg-slate-700 font-medium text-lg px-6 py-2 hover:shadow-lg' %>
    <%= link_to 'Discover new content', discover_feed_path, class: 'btn-gray dark:hover:bg-slate-700 font-medium text-lg px-6 py-2 hover:shadow-lg' %>
  </div>
<% else %>
  <div id="posts">
  </div>
  <%= turbo_frame_tag 'load_more', src: posts_path(format: :turbo_stream), loading: :lazy do %>
  <!-- Skeleton looader -->
    <% 10.times do %>
      <div class="post-frame">
        <div class="flex items-start animate-pulse">
          <!-- Avatar -->
          <div class="rounded-full bg-gray-400 h-16 w-16 mr-3 align-middle object-cover"></div>

          <div class="w-3/4">
            <!-- Username -->
            <div class="bg-gray-400 h-5 w-1/3 rounded mt-2"></div>
            <!-- Timestamp -->
            <div class="bg-gray-400 h-3 rounded w-1/6 mt-2"></div>
          </div>
        </div>

          <!-- Post body -->
        <div class="animate-pulse m-4">
          <div class="space-y-2">
            <div class="h-4 bg-gray-400 rounded"></div>
            <div class="h-4 bg-gray-400 rounded w-11/12"></div>
            <div class="h-4 bg-gray-400 rounded w-5/6"></div>
            <div class="h-4 bg-gray-400 rounded w-11/12"></div>
            <div class="h-4 bg-gray-400 rounded w-5/6"></div>
            <div class="h-4 bg-gray-400 rounded w-3/4"></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end%>
