<div class="w-full items-center mb-5 rounded-lg">
  <h2 class="ml-5 mb-4 font-medium">Hey, <%= current_user.name.split(' ').first %>! What's on your mind?</h2>
  <%= render 'posts/form', post: @post = Post.new %>
</div>

<% if @posts.blank? %>
  <p class="text-sm text-gray-600 dark:text-gray-500 mb-4 text-center mt-20">Nothing to see here!</p>
  <div class="flex items-center justify-center gap-8">
    <%= link_to 'Connect with new people', users_path, class: 'btn-primary dark:hover:bg-slate-700 font-medium text-lg px-6 py-2 hover:shadow-lg' %>
    <%= link_to 'Discover new content', discover_feed_path, class: 'btn-primary dark:hover:bg-slate-700 font-medium text-lg px-6 py-2 hover:shadow-lg' %>
  </div>
<% else %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render 'post_link', post: post %>
    <% end %>
  </div>
<% end%>
