<div id="posts-show">
  <%= render @post %>
</div>

<% if @post.user == current_user %>
  <div>
    <%= link_to 'Edit post', edit_post_path(@post), class: 'btn-blue font-medium px-6 py-2 mr-5 ml-auto' %>
    <%= link_to 'Delete post', post_path(@post), class: 'btn-red font-medium px-6 py-2 mr-5 ml-auto', data:
    {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  </div>
<% end %>

<h2 class="ml-5 mt-8 mb-4"><%= pluralize(@post.comments.size, 'Comment') %></h2>
<% if @post.comments.blank? %>
  <p class="text-sm text-gray-500 mb-4 text-center">There are no comments on this post yet. Leave a comment below!</p>
<% else %>
  <div id="comments">
    <%= render @post.comments %>
  </div>
<% end%>

<%= render 'comments/form', autofocus_comment: params[:autofocus_comment] %>
