<h3><%= @post.user.name %></h3>
<p><%= @post.body %></p>

<% if current_user == @post.user %>
<ul>
  <li><%= link_to 'Edit', edit_post_path(@post) %></li>
  <li><%= link_to 'Delete', post_path(@post), data:
  {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>
