<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if alert %>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= alert %>
    </div>
    <% end %>

    <% if notice %>
    <div class="notice">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
    </div>
    <% end %>

    <div class="container">
      <aside>
        <%= render 'shared/nav' %>
      </aside>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
